<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore various fish species suitable for recirculation aquaculture systems. Learn about their optimal conditions, growth requirements, and successful cultivation practices.">
    <meta name="keywords" content="recirculation aquaculture, fish species, Arctic char, Atlantic salmon, eel, grouper, rainbow trout, barramundi, African catfish, Atlantic cod, Bluefin tuna, carps, cobia, lemon sole, pangasius, perch, whiteleg shrimp, sturgeon, turbot, yellowtail amberjack, tilapia, whitefish, pike-perch">
    <meta name="author" content="Manoj Kumar, Pride Aquaculture">
    <meta property="og:title" content="Fish Species in Recirculation Aquaculture">
    <meta property="og:description" content="Discover different fish species that thrive in recirculation aquaculture systems, including their temperature needs, growth conditions, and farming practices.">
    <meta property="og:image" content="URL to an image related to your content">
    <meta property="og:url" content="prideaquaculture@gmail.com">
    <title>fishes-in-RAS</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="stylefooter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="js/script.js"></script>
    {{>navbar}}
    <div class="spices">
        <h2>Fish species in recirculation</h2>
    </div>

</head>

<body background="Untitled-4 copy.jpg">
    

    <div class="wrapper">

        <div class="container">
            <input type="radio" name="slide" id="c1">
            <label for="c1" class="card">
                <div class="row">
                    <div class="icon">Arctic char</div>
                    <div class="description">
                        <h4>Arctic char</h4>
                        <p>
                            14 °C Arctic char or cross breeds with brook
                            trout has a long track record of growing
                            well in cold water aquaculture.
                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c2">
            <label for="c2" class="card">
                <div class="row">
                    <div class="icon">salmon</div>
                    <div class="description">
                        <h4>Atlantic salmon, smolt</h4>
                        <p>
                            14 °C Small salmon are called smolt. They are
                            grown in freshwater before transfer to
                            saltwater for grow-out. Smolts are raised
                            in recirculation systems with great success.
                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c3">
            <label for="c3" class="card">
                <div class="row">
                    <div class="icon">Eel</div>
                    <div class="description">
                        <h4>Eel</h4>
                        <p>
                            24 °C Proven successful species in recirculation.
                            Cannot reproduce in captivity. Wild catch
                            of fry (elvers) is necessary. Considered
                            threatened species.
                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c4">
            <label for="c4" class="card">
                <div class="row">
                    <div class="icon">Grouper</div>
                    <div class="description">
                        <h4>Grouper</h4>
                        <p>
                            28 °C Saltwater fish grown primarily in Asia.
                            Many different grouper species. Requires
                            knowledge in spawning and larval rearing.
                            Grow-out relatively straight forward.
                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c5">
            <label for="c5" class="card">
                <div class="row">
                    <div class="icon">Rainbow trout</div>
                    <div class="description">
                        <h4>Rainbow trout</h4>
                        <p>
                            16 °C Easy to culture. Recirculation in freshwater
                            widely used from fry rearing up to portion
                            size fish. Larger trout can also be grown in
                            recirculation whether fresh or saltwater.
                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c6">
            <label for="c6" class="card">
                <div class="row">
                    <div class="icon">Barramundi</div>
                    <div class="description">
                        <h4>Barramundi</h4>
                        <p>
                            28 °C Also called Asian seabass. Lives in both
                            fresh and saltwater.
                            Requires knowledge in larval rearing. Relatively straight forward
                            in grow-out.
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c7">
            <label for="c7" class="card">
                <div class="row">
                    <div class="icon">African catfish</div>
                    <div class="description">
                        <h4>African catfish</h4>
                        <p>
                            28 °C Freshwater fish very easy to culture. A
                            robust and fast growing fish that performs
                            well in recirculation. Production must be
                            very cost efficient.
                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c8">
            <label for="c8" class="card">
                <div class="row">
                    <div class="icon">Atlantic cod</div>
                    <div class="description">
                        <h4>Atlantic cod</h4>
                        <p>
                            12 °C Fry rearing proven to be successful in
                            recirculation. Grow-out of larger cod needs
                            further development and is as such not
                            suited for recirculation.
                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c9">
            <label for="c9" class="card">
                <div class="row">
                    <div class="icon">Bluefin tuna</div>
                    <div class="description">
                        <h4>Bluefin tuna</h4>
                        <p>
                            24 °C Fattening of wild caught fish is the only
                            profitable farming technology. Controlling
                            full cycle at a commercial level in
                            aquaculture is still under development.
                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c10">
            <label for="c10" class="card">
                <div class="row">
                    <div class="icon">Carps</div>
                    <div class="description">
                        <h4>Carps</h4>
                        <p>
                            26 °C All carp species will grow very well in
                            recirculation aquaculture systems. Keeping
                            down production costs at a minimum is
                            the main issue.
                        </p>
                    </div>
                </div>
            </label>

            <input type="radio" name="slide" id="c11">
            <label for="c11" class="card">
                <div class="row">
                    <div class="icon">Cobia</div>
                    <div class="description">
                        <h4>Cobia</h4>
                        <p>
                            28 °C Fairly new saltwater aquaculture fish of
                            good meat quality. Grow-out in cage culture.
                            Output seems to be growing, although there
                            are many obstacles in breeding.

                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c12">
            <label for="c12" class="card">
                <div class="row">
                    <div class="icon">Lemon sole</div>
                    <div class="description">
                        <h4>Lemon sole</h4>
                        <p>
                            17 °C Fairly new saltwater aquaculture fish of
                            good meat quality. Grow-out in cage culture.
                            Output seems to be growing, although there
                            are many obstacles in breeding.

                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c13">
            <label for="c13" class="card">
                <div class="row">
                    <div class="icon">Pangasius</div>
                    <div class="description">
                        <h4>Pangasius</h4>
                        <p>
                            28 °C This catfish is grown in big earth ponds
                            primarily in Vietnam. Impressive ability
                            to survive and grow at sub-optimal
                            conditions.

                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c14">
            <label for="c14" class="card">
                <div class="row">
                    <div class="icon">Perch</div>
                    <div class="description">
                        <h4>Perch</h4>
                        <p>
                            17 °C Freshwater fish proven to grow well in
                            recirculation although not widely used.

                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c15">
            <label for="c15" class="card">
                <div class="row">
                    <div class="icon">Whiteleg shrimp</div>
                    <div class="description">
                        <h4>Whiteleg shrimp</h4>
                        <p>
                            30 °C Most common shrimp species in
                            aquaculture. Grow-out in recirculation
                            systems has been proven successful. The
                            production method is developing.

                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c16">
            <label for="c16" class="card">
                <div class="row">
                    <div class="icon">Sturgeon</div>
                    <div class="description">
                        <h4>Sturgeon</h4>
                        <p>
                            22 °C Group of freshwater fish of many species
                            relatively easy to culture. Skills required
                            in different biological stages. Farming in
                            recirculation systems is increasing.

                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c17">
            <label for="c17" class="card">
                <div class="row">
                    <div class="icon">Turbot</div>
                    <div class="description">
                        <h4>Turbot</h4>
                        <p>
                            17 °C Good skills required in broodstock and
                            hatchery management. Grows very well in
                            recirculation.

                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c18">
            <label for="c18" class="card">
                <div class="row">
                    <div class="icon">Yellowtail amberjack</div>
                    <div class="description">
                        <h4>Yellowtail amberjack</h4>
                        <p>
                            22 °C Yellowtail amberjack, or kingfish, is a
                            saltwater species proven to perform well
                            in cages and in land based systems.

                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c19">
            <label for="c19" class="card">
                <div class="row">
                    <div class="icon">Tilapia</div>
                    <div class="description">
                        <h4>Tilapia</h4>
                        <p>
                            28 °C One of the most predominant aquaculture
                            fish, which is robust and fast growing.
                            Production cost must be kept to a
                            minimum to be competitive.

                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c20">
            <label for="c20" class="card">
                <div class="row">
                    <div class="icon">Whitefish</div>
                    <div class="description">
                        <h4>Whitefish</h4>
                        <p>
                            15 °C Coregonus is a group of freshwater fish
                            that can be grown in aquaculture and in
                            recirculation systems.
                        </p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c21">
            <label for="c21" class="card">
                <div class="row">
                    <div class="icon">Pike-perch</div>
                    <div class="description">
                        <h4>Pike-perch</h4>
                        <p>
                            20 °C Freshwater fish difficult to farm. Larval stage
                            troublesome, grow-out seems a little easier.
                            Only a few successful recirculation systems
                            for pike-perch.
                        </p>
                    </div>
                </div>
            </label>
            </input>
        </div>

    </div>
    
</body>

</html>