<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reset your password using the forgot password form. Enter your email to receive a password reset link.">
    <meta name="keywords" content="forgot password, password reset, account recovery, email">
    <meta name="author" content="Manoj Kumar, Pride Aquaculture">

    <title>Forgot Password</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="regcontainer">
        <div class="form-box">
            <h1 id="title">Forgot Password</h1>
            <form id="forgotPasswordForm" method="POST" action="/forgot-password">
                <div class="input-group">
                    <div class="input-field">
                        <input type="email" name="email" id="email" placeholder="Enter your email" required>
                    </div>
                </div>
                <div class="btn-field">
                    <button type="submit" name="submit" class="singinBtn">Send Reset Link</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>