<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Manoj Kumar, Pride Aquaculture">
    <meta name="description" content="Pride Aquaculture specializes in sustainable aquaculture using Recirculating Aquaculture Systems (RAS) to maximize efficiency and minimize environmental impact.">
    <title>Pride Aquaculture</title>
    <link rel="stylesheet" href="style.css">
    <script src="js/script.js"></script>
</head>

<body background="Untitled-4 copy.jpg">
    {{>navbar}}

    


    <div id="home" class="pride">

        <h1 class="anim">Aquaculture with Recirculating Aquaculture Systems (RAS)</h1>
        <p class="anim">Welcome to the forefront of sustainable aquaculture farming with Recirculating Aquaculture
            Systems (RAS). As pioneers in this innovative farming method, we are dedicated to transforming the way we
            produce seafood while minimizing environmental impact and maximizing efficiency.</p>

        <a href="register" class="btn anim" id="div1">Join Now</a>
    </div>


    </div>




</body>

</html>