<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Manoj Kumar, Pride Aquaculture">
    <meta name="description" content="Detailed information on water parameters, feed composition, feed size, treatments, and diseases for Recirculating Aquaculture Systems (RAS).">
    <meta name="keywords" content="RAS, aquaculture, water parameters, feed composition, fish diseases, treatments">
    <title>Ras-Parameters</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="stylefooter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="js/script.js"></script>
    {{>navbar}}


</head>

<body background="Untitled-4 copy.jpg">
    

    <main class="table">

        <section class="table_header">
            <h1>Water Parameters</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Optimum</th>
                        <th>Toxic</th>
                        <th>Treatment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nitrite</td>
                        <td>&nbsp &nbsp &nbsp 0</td>
                        <td>>0.2ppm</td>
                        <td>
                            <p>
                                Raise chloride, water exchange, don't feed
                            </p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Un-ionized Ammonia</td>
                        <td>&nbsp &nbsp &nbsp 0</td>
                        <td>>0.2ppm</td>
                        <td>
                            <p>
                                Aerate, water exchange, don't feed
                            </p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>pH</td>
                        <td>7 - 7.5</td>
                        <td>
                            <6 or>9
                        </td>
                        <td>
                            <p>
                                Add sodium bicarbonate
                            </p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Dissolved Oxygen</td>
                        <td> >5 ppm</td>
                        <td>
                            < 3ppm</td>
                        <td>
                            <p>
                                Increase aeration, Remove organic solids, don't feed
                            </p>
                        </td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>Hardness</td>
                        <td> > 100ppm</td>
                        <td>
                            < 50ppm</td>
                        <td>
                            <p>
                                Add calcium carbonate or calcium chloride
                            </p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Alkalinity</td>
                        <td> > 100ppm</td>
                        <td>
                            < 50ppm</td>
                        <td>
                            <p>
                                Add sodium bicarbonate or calcium carbonate
                            </p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Temperature</td>
                        <td> 75-85°F / 24-30°C</td>
                        <td>
                            <65 or>90
                        </td>
                        <td>
                            <p>
                                water exchange, Adjust heater/chiller
                            </p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Chloride</td>
                        <td>6 times nitrites</td>
                        <td>
                            < 3 times nitrite level</td>
                        <td>
                            <p>
                                Add sodium chloride
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <main class="table">
        <section class="table_header">
            <h1>Feed Composition</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>Ingredient(%)</th>
                        <th>Fry</th>
                        <th>Fingerling</th>
                        <th>Juveniles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fishmeal(64.2/3.3)</td>
                        <td>50</td>
                        <td>40</td>
                        <td>34</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Meat and Bone meal(32.8/8.5)</td>
                        <td>10</td>
                        <td>12</td>
                        <td>12</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Bloodmeal(83.1/-)</td>
                        <td>7</td>
                        <td>8</td>
                        <td>8</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Feather meal(67.4/2.2)</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>Soybean meal(41.7/5.5)</td>
                        <td>9</td>
                        <td>9</td>
                        <td>10</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Rapessed meal(32.8/7.2)</td>
                        <td>-</td>
                        <td>3</td>
                        <td>6</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Wheat bran(15.5/3.4)</td>
                        <td>4.2</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Corn meal(9.8/3.8)</td>
                        <td>-</td>
                        <td>3.95</td>
                        <td>8.7</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Brewers grains(23.4/3.0)</td>
                        <td>5</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Fish oil</td>
                        <td>8.6</td>
                        <td>8.4</td>
                        <td>6.2</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Trout vitamin premix</td>
                        <td>0.2</td>
                        <td>0.15</td>
                        <td>0.1</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Trout mineral premix</td>
                        <td>2</td>
                        <td>1.5</td>
                        <td>1</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td><b>Total</b></td>
                        <td><b>100 grams</b></td>
                        <td><b>100 grams</b></td>
                        <td><b>100 grams</b></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <main class="table">
        <section class="table_header">
            <h1>Feed Size</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>Pellet Size(mm)</th>
                        <th>Fish Size(gm)</th>
                        <th>Days</th>
                        <th>Protein/Fat(%)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0.5 mm</td>
                        <td>0.1-5 gm</td>
                        <td>15</td>
                        <td>43% / 27%</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td> 1 mm</td>
                        <td>5 - 10 gm</td>
                        <td>15</td>
                        <td>43% / 27%</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>2 mm</td>
                        <td>10-70 gm</td>
                        <td>45</td>
                        <td>42% / 27%</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>4 mm</td>
                        <td>70-220 gm</td>
                        <td>45</td>
                        <td>40% / 28%</td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>6 mm</td>
                        <td>220 - 1200 gm</td>
                        <td>75..</td>
                        <td>40% / 28%</td>

                    </tr>
                </tbody>
                <div class="Protein">
                    <h4>* Protein percentage depend upon fish species <br>&nbsp *Feed ratio 1 : 1.5 </br></h3>
                </div>
            </table>
        </section>
    </main>
    <main class="table">
        <div class="table_header">
            <h1>Treatment in RAS System</h1>
        </div>

        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>Problem</th>
                        <th>What to use</th>
                        <th>Rate</th>
                        <th>How to use</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Low pH</td>
                        <td>Sodium Bicarbonate</td>
                        <td>1.5 lbs/10000gal</td>
                        <td>Add gradually over 2-3 days</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>High pH</td>
                        <td>Sodium Bisulfate</td>
                        <td> .5 lbs/10000gal</td>
                        <td>Caustic,dissolve in a bucket,add to water storage,Add gradually over 2-3 days</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Low Alkalinity</td>
                        <td>Sodium Bicarbonate</td>
                        <td>1.5 lbs/10000gal</td>
                        <td>Raise only 10 ppm</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Low Hardness</td>
                        <td>Calcium Carbonate or Calcium chloride</td>
                        <td>1 lbs/10000gal</td>
                        <td>Raise only 10 ppm</td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>High Un-ionized Ammonia</td>
                        <td>Exchange Water</td>
                        <td>Replace 25% of volume with new water</td>
                        <td>Watch out for sudden increase in nitrites,adjust pH</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>High Nitrite</td>
                        <td>Sodium</td>
                        <td>2.5 oZ/10000gal</td>
                        <td>Add gradually</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Internal parasites & Protozoans</td>
                        <td>Epsom salts</td>
                        <td>1 lbs/10000gal</td>
                        <td>3.0% of the diet for 2-3 days</td>
                    </tr>
                </tbody>
                <div class="treatment">
                    <h3>* The best treatment and prevention for any disease Problem is mantaining good water quality
                    </h3>
                </div>
            </table>
        </section>
    </main>
    <main class="table">
        <section class="table_header">
            <h1>Disease</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>Symptoms</th>
                        <th>Causes</th>
                        <th>Treatment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lethargy</td>
                        <td>Chlorine</td>
                        <td>Aerate heavily and add dechlorinating agent ie, sodium thiosulfate</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>White spots</td>
                        <td>ICH disease</td>
                        <td>Formalin (15mg/l), use salt (NaCl)</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Boil-like sores</td>
                        <td>Bacterial disease</td>
                        <td>Quarantine infected fish, Hydrogen Peroxide (8-15 mg/l)</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Reddened fins or abdomen</td>
                        <td>Bacterial or viral disease</td>
                        <td>Quarantine infected fish, Hydrogen Peroxide, Trimethoprim antibiotics</td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>Rubbing sides</td>
                        <td>Parasites</td>
                        <td>Quarantine infected fish, Hydrogen Peroxide, Trimethoprim antibiotics</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Whirling</td>
                        <td>viral disease</td>
                        <td>Quarantine infected fish, Hydrogen Peroxide, Trimethoprim antibiotics</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Eroded fins</td>
                        <td>Bacterial disease</td>
                        <td>Quarantine infected fish, Hydrogen Peroxide, Trimethoprim antibiotics</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Peculiar swimming</td>
                        <td>viral disease or parasites</td>
                        <td>Quarantine infected fish and check water quality, Trimethoprim antibiotics</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Rapid gill venting</td>
                        <td>High Nitrites</td>
                        <td>Aeration and add sodium chloride</td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Low D.O</td>
                        <td>Aeration,remove any organic matter,stop feeding</td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td></td>
                        <td>High Ammonia</td>
                        <td>Aeration and exchange water,check pH</td>

                    </tr>
                </tbody>
            </table>
        </section>

    </main>
    <div class="fitter">
        {{> footer}}
    </div>

</body>

</html>