<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Manoj Kumar, Pride Aquaculture">
    <meta name="description" content="Reset your password on our platform. Enter and confirm your new password to complete the process.">
    <meta name="keywords" content="reset password, password recovery, change password, account security">

    <title>Reset Password</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="regcontainer">
        <div class="form-box">
            <h1 id="title">Reset Password</h1>
            <form id="resetPasswordForm" method="POST" action="/reset/{{token}}">
                <div class="input-group">
                    <div class="input-field">
                        <input type="password" name="password" id="password" placeholder="Enter your new password"
                            required>
                    </div>
                    <div class="input-field">
                        <input type="password" name="confirmPassword" id="confirmPassword"
                            placeholder="Confirm your new password" required>
                    </div>
                </div>
                <div class="btn-field">
                    <button type="submit" name="submit" class="singinBtn">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>