<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Manoj Kumar, Pride Aquaculture">
    <meta name="description" content="Explore the range of services offered by Pride Aquaculture, including RAS design, installation, support, water quality management, and fish health and nutrition.">
    <meta name="keywords" content="RAS design, aquaculture services, water quality management, fish health, RAS installation, technical support">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="stylefooter.css">
    <script src="js/script.js"></script>

    {{>navbar}}
    <div class="spices">
        <h2>Our Services</h2>
    </div>
</head>

<body background="Untitled-4 copy.jpg">
    <div id="loading" class="loading">
        <div class="fishbowl">
            <div class="water"></div>
        </div>
        <p>PrideAquaculture...</p>
    </div>
    <div class="service-container">

        <div class="service-row">
            <div class="service">
                <i class="fa fa-pen-nib"></i>
                <h2>RAS Design and Consulting</h2>
                <p>Customized design solutions tailored to the specific needs and goals of clients.
                    Site assessment and feasibility studies to determine the optimal location and configuration for RAS
                    systems.
                    Consulting services to guide clients through the planning and implementation stages of their
                    aquaculture projects.</p>
            </div>
            <div class="service">
                <i class="fa fa-screwdriver-wrench"></i>
                <h2>RAS Installation and Setup</h2>
                <p>Turnkey installation services, including site preparation, equipment installation, and system
                    commissioning.
                    Integration of components such as tanks, filtration systems, pumps, aeration systems, and monitoring
                    equipment.
                    Project management to ensure timely and efficient execution of RAS installation projects.
                </p>
            </div>
            <div class="service">
                <i class="fa fa-circle-info"></i>
                <h2>Support</h2>
                <p>Remote monitoring and diagnostic services to proactively identify and resolve potential problems.
                    Scheduled maintenance services to ensure the ongoing reliability and performance of RAS systems.
                    Emergency repair services and technical support to address any issues that may arise.
                </p>
            </div>
            <div class="service">
                <i class="fa fa-water"></i>
                <h2>Water Quality Management</h2>
                <p>Monitoring and management of water quality parameters such as temperature, pH, dissolved oxygen,
                    ammonia, and nitrate levels.
                    Implementation of water treatment systems such as biofilters, UV sterilization, ozonation, and
                    denitrification units.
                    Optimization of water reuse and recycling strategies to minimize water consumption and waste
                    discharge.</p>
            </div>
            <div class="service">
                <i class="fa fa-fish"></i>
                <h2>Fish Health and Nutrition</h2>
                <p>Disease prevention and control measures, including biosecurity protocols, vaccination programs, and
                    quarantine procedures.
                    Nutritional management strategies to ensure optimal feed formulation, feeding practices, and growth
                    rates for fish.
                    Monitoring of fish health indicators and early detection of any signs of illness or stress.</p>
            </div>

        </div>
        {{> footer}}

    </div>
</body>

</html>